:root {
   --deep:#22223b;  
   --greenish: #3b554c;
   --dgreen: #67834e;
   --sunflower: #223e51;
   --rose: #572d6f;
   --orange-cream: #f4a259;
   --creme: #f2e9e4;
}

html {
    background: var(--deep);
    width: 100%;
    height: 100%;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--creme);
    margin: 0;
}
.fullContainer {
    height: 98vh;
    width: 98vw;
    margin: 1px;
    padding: 5px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items:flex-start;
    padding: 5px;
    gap: 25px;
    overflow: hidden;
    
}
.sideBar {
    /* background:var(--greenish); */
    width: 25%;
    height: 97vh;
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center; 
}
.dataMain {
    width: 70vw;
}
.top {
    display: flex;
    justify-content: space-between;
    
}
.Reviews, .Average, .Sentiment {
    background: var(--dgreen);
    width: 30%;
    padding: 0;
    border: none;
    margin: 0;
    height: 250px;
    padding-left: 5px;
}
.webVisitors {
    background: var(--sunflower);
    height: 63vh;
    width: 100%;
}
.webVisitors h2 {
    padding: 20px 5px;
}
.webVisitors p {
    padding-left: 5px;
    padding-bottom: 60px;
}
.graph {
    background: var(--rose);
    margin:25px;
    height: 250px;
}
h2 {
    font-size: 20px;
}